.main-address-container .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.main-address-container .inputs input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.main-address-container .inputs label {
  margin-right: 5px;
  color: blue;
  font-weight: 600;
}
